* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body.light {
  background-color: #ffffff;
  color: #000000;
}
body.light footer {
  background-color: #e6ebeb;
  color: #000000;
}

body.dark {
	background-color: #121212;
     color: #ffffff;
}
body.dark footer {
  background-color: #1e1e1e;
  color: #ffffff;
}
/* Light mode */
body.light header {
  background-color: #e6ebeb;
  color: #000000;
}

/* Dark mode */
body.dark header {
  background-color: #222222;
  color: #ffffff;
}


ul {
	list-style-type: none;
}

button {
	font-family: inherit;
}

button:not(:disabled) {
	cursor: pointer;
}

:root {
	font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

header {
	background-color: black;
	border-bottom: 1pt solid #404040;
	padding: 2rem;
}

nav > ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

nav > ul li:first-child {
	flex: 1;
}

header button {
	display: flex;
	padding: 0.25rem 0.5rem;
	color: #c0c0c0;
}
header button:hover {
	color: white;
}

header button.goHome {
	padding: 0;
	border: none;
	background-color: transparent;
}

header svg {
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

@media (prefers-color-scheme: dark) {}
@media (prefers-color-scheme: light) {}

footer {
	background-color: black;
	border-top: 1pt solid #404040;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 0.5rem;
	padding: 2rem;
}

footer section:first-child {
	flex: 1;
}

footer section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

footer a {
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

footer button {
	display: flex;
	padding: 0.25rem 0.5rem;
	color: #c0c0c0;
}

footer .links {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

footer .tools {
	display: flex;
	gap: 0.5rem;
}

@media (max-width: 380px) {
  footer {
    flex-direction: column; /* ustma-ust joylashadi */
    align-items: center;
    text-align: center;
  }

  footer section:nth-child(2) {
    order: -1; /* tools (Language, Light mode) tepaga chiqadi */
  }

  footer .links {
    justify-content: center;
  }

  footer .tools {
    justify-content: center;
  }
}