* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

button {
	font-family: inherit;
}

button:not(:disabled) {
	cursor: pointer;
}

:root {
	font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (prefers-color-scheme: dark) {}
@media (prefers-color-scheme: light) {}

footer {
	background-color: black;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem;
}

footer section:first-child {
	flex: 1;
}

footer section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

footer .links {
	display: flex;
	gap: 1rem;
}

footer .tools {
	display: flex;
	gap: 0.5rem;
}
